# Qes 1

In [1]:
email="sagarsolutions@gmail.com"
x=email.find("s")
y=email.find("@")
print(email[x:y])

sagarsolutions

# Qes 2

In [3]:
import re
inp=input("enter string:")
x=re.finditer('[0-9]',inp)
y=[int(e.group()) for e in x]
print(y)

enter string:hjhtr4y5
[4, 5]

# Qes 3

In [ ]:
import re
data=input("enter the data including numbers")
numbers=re.finditer("[0-9]",data)
for number in numbers:
    print(number.group(),end=" ")

# Qes 4,5

In [7]:
decimal=12
x=bin(decimal)
print("binary of:",decimal,"is:-",x)
y=int(0b1100)
print("decimal of:",x,"is:-",y)

binary of: 12 is:- 0b1100
decimal of: 0b1100 is:- 12

# Qes 6

In [ ]:
n=10
for r in range(n):
    print("* "*(r))   
for c in range(n):
        print("* "*(n-c))

# Qes 7

In [ ]:
for i in range(10):
    print(str(i)*i)

# Qes 8

In [ ]:
words=input("enter words with comma(,):").split(",")
print(sorted(words))

# Qes 9

In [ ]:
inp=input("enter values with comma:").split(",")
num=(int(e) for e in inp)
for i in num:
    if i%2!=0:
        print(i,end=" ")

# Qes 10

In [ ]:
net_amount= 0
while True:
    inp=input("Enter transaction:")
    transaction=inp.split()
    
    type=transaction[0]
    amount=int(transaction[1])
    if type=="D" or type=="d":
        net_amount=net_amount+amount
    elif type=="W" or type=="w":
        net_amount=net_amount-amount
    else:pass
    inp=input("want to continue y for (yes) ")
    if not (inp[0]=="Y" or inp[0]=="y"):break
        
print(net_amount)

# Qes 11

In [ ]:
def pyg_latin():
    pyg = 'ay'
    original = input('Enter a word: ')

    if len(original) > 0 and original.isalpha():
        word = original.lower()
        first = word[0]
        new_word = word + first + pyg
        new_word = new_word[1:len(new_word)]
        print(new_word)
    else:
        print("Invailed")
        pyg_latin()
pyg_latin()

Enter a word: 9
Invailed

# QES 12

In [ ]:
i=float(input("enter score:"))
if i>=0.90 and i<1.0:
    print("A")
elif i>=0.8 and i<0.89:
    print("B")
elif i>=0.7 and i<0.79:
    print("c")
elif i>=0.6 and i<0.69:
    print("D")
else:
    print("F")

# QES 13

In [ ]:
cm=44.50
rt=6.75
tip=15
cmrt=(cm*rt/100)+cm
#print(cmrt)
cmtip=cmrt*tip/100
print(cmtip)

# qes 14

In [ ]:
import datetime
x=datetime.datetime.now()
print(x.strftime("%m/%d/%Y %I:%M:%S"))

# Qes 15

In [ ]:
cel=float(input("Enter temperature in celsius:"))
far=cel*9/5+32
print("Fahrenheit of",cel,"Celsius is:",far)

# Qes 16

In [ ]:
def hotel_cost(nights):
    return 140*nights
def plane_ride_cost(city):
    if city=="Charlotte":
        return 183
    elif city=="Tampa":
        return 220
    elif city=="Pitsburgh":
        return 222
    elif city=="Los Angeles":
        return 475
    else:
        return "In valid city"
def rental_car_cost(days):
    cost=days*40
    if days>=7:
        cost-=50
    elif days>=3:
        cost-=20
    return cost
def trip_cost(city,days,spending_money):
    return rental_car_cost(days)+hotel_cost(days)+plane_ride_cost(city)+spending_money

trip_cost("Los Angeles",8,1)

# Qes 17

In [ ]:
groceries=["banana","orange","apple"]
stock={"banana":6,"apple":0,"orange":32,"pear":15}
prices={"banana":4,"apple":2,"orange":1.5,"pear":3}
def compute_bill(food):
    total=0
    for item in food:
        if stock[item]>0:
            total+=prices[item]
            stock[item]-=1
    return total

compute_bill(groceries)

# Qes 18

In [ ]:
inventory={"gold":500,"pouch":["flint","twine","gemstone"],"backpack":["xylophone","dagger","bread loaf"]}
inventory["pocket"]=["seashell","strange berry","lint"]
inventory["backpack"].sort()
inventory["backpack"].remove("dagger")
inventory["gold"]=50
print(inventory)

# Qes 19

In [4]:
mylist=[x for x in range(1,11)]
mylist[::2]

[1, 3, 5, 7, 9]

# Qes 20

In [5]:
mylist[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]